@model ymanasayfa.Models.Hakkinda

@{
    ViewBag.Title = "AyarlarHak";
    Layout = "~/Views/Shared/LayoutBos.cshtml";
}


@using (Html.BeginForm("AyarlarHak", "Anasayfa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <table border="0" align="center" style="padding:10px; background-color:#15566b;border-radius:20px; margin-top:50px; margin-bottom:50px; ">
        <tr>
            <td align="left" style="padding-bottom:20px; color:white; width:150px;">
                E-Mail
            </td>
            <td align="left" style="padding-bottom:20px;">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td align="left" style="padding-bottom:20px; color:white; width:150px;">
                Telefon
            </td>
            <td align="left" style="padding-bottom:20px;">

                @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td align="left" style="padding-bottom:20px; color:white; width:150px;">
                Yaş
            </td>
            <td align="left" style="padding-bottom:20px;">
                @Html.EditorFor(model => model.yas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.yas, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td align="left" style="padding-bottom:40px; color:white; width:150px;">
                Şehir
            </td>
            <td style="padding-bottom:20px;">
                @Html.EditorFor(model => model.yer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.yer, "", new { @class = "text-danger" })
            </td>
        </tr>




        <tr>
            <td align="left" style="padding-bottom:40px; color:white; width:150px;">
                Giriş Yılı
            </td>
            <td style="padding-bottom:20px;">
                @Html.DropDownList("mezungiris_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mezungiris_id, "", new { @class = "text-danger" })
            </td>
        </tr>


        <tr>
            <td align="left" style="padding-bottom:40px; color:white; width:150px;">
                Çalıştığı Yer
            </td>
            <td style="padding-bottom:20px;">
                @Html.EditorFor(model => model.isyer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isyer, "", new { @class = "text-danger" })
            </td>
        </tr>


        <tr>
            <td align="left" style="padding-bottom:40px; color:white; width:150px;">
                Biografi
            </td>
            <td style="padding-bottom:20px;">
                @Html.EditorFor(model => model.bio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bio, "", new { @class = "text-danger" })
            </td>
        </tr>


        <tr>
            <td align="left" style="padding-bottom:40px; color:white; width:150px;">
                Öğrenim Durumu
            </td>
            <td style="padding-bottom:20px;">
                @Html.DropDownList("mezundurumu_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mezundurumu_id, "", new { @class = "text-danger" })
            </td>
        </tr>


        <tr>
            <td align="center">
                <form>
                    <button src="~/Anasayfa/Profil/@Model.kullanici_id" style="border-radius:15px; color:red; width:100px; height:30px;" class="btn btn-default">İptal</button>
                </form>
            </td>
            <td align="center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" style="border-radius:15px; color:red; width:100px; height:30px;" class="btn btn-default" />
                    </div>
                </div>
            </td>

        </tr>
    </table>


}


